{# app/Resources/views/Default/index.html.twig #}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/books.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
</head>
<body>

    {% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Books search test work!</h1>
              <p class="lead text-muted"></p>
              <p>
                <a href="#" class="btn btn-primary">Random</a>
                <a href="#" class="btn btn-secondary">Search</a>
              </p>
            </div>
        </section>

        <div class="books text-muted">
            <div class="container">
                {% for row in range(0, cnt-1)|batch(3) %}
                    <div class="row">
                        {% for col in row %}
                        <div class="book">
                            <img src="{{ books[col].volumeInfo.imageLinks.smallThumbnail }}" alt="Card image cap">
                            <p class="book-title">{{ books[col].volumeInfo.title }}</p>
                            {% if books[col]['searchInfo'] is defined %}
                                <p class="book-desc">{{ books[col].searchInfo.textSnippet }}</p>
                            {% else %}
                                <p class="book-desc">{{ books[col].volumeInfo.description }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                
            </div>
        </div>

    </main>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/holder.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script>
    {% endblock %}
    
</body>