{# app/Resources/views/Default/index.html.twig #}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/books.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
</head>
<body>
    
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Search for book</a>

            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                    {{ form_start(form, { 'attr': {'class': 'navbar-form navbar-left'}}) }}
                    <div class="form-group">
                        
                        {{ form_widget(form.key) }}
                        
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.where) }}
                        
                    </div>
                    <button type="submit" class="btn btn-default navbar-search-submit">Search</button>
                {{ form_end(form) }}
            </div>
            </div>
        </nav>
    
                    
                    
    {% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
              <p class="lead text-muted">
              </p>
            </div>
        </section>

        <div class="books text-muted">
            <div class="container">
                {% if cnt %}
                    {% for row in range(0, cnt-1)|batch(3) %}
                        <div class="row">
                            {% for col in row %}
                            <div class="book" id="books[col][id]">
                                <img src="{{ books[col].volumeInfo.imageLinks.smallThumbnail }}" alt="Card image cap">
                                <p class="book-title">{{ books[col].volumeInfo.title }}</p>
                                <p class="book-author">
                                    {% for author in books[col].volumeInfo.authors %}
                                        {{ author.name }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                                {% if books[col]['searchInfo'] is defined %}
                                    <p class="book-desc">{{ books[col].searchInfo.textSnippet }}</p>
                                {% else %}
                                    <p class="book-desc">{{ books[col].volumeInfo.description }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>Nothing found.</h3>     
                {% endif %}
            </div>
        </div>
        
        {# display navigation #}
        <div class="navigation text-center">
            {{ knp_pagination_render(books) }}
        </div>
    </main>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/holder.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script>
    {% endblock %}
    
</body>